@using InanceMVC.Models;
@model Service;

<div class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning text-white">Edit</button>
        @if (!Model.isActive)
        {
            <a>
                <button type="submit" class="btn btn-primary" asp-action="RevertSoftDelete" asp-controller="Services" asp-area="Admin" asp-route-id="@Model.Id">Restore Soft Delete</button>
            </a>
        }
    </form>
</div>