@model FrontToBack.Models.Services;
<div class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Service Title</label>
            <input type="text" class="form-control" asp-for="Title">
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Service Description</label>
            <input type="text" class="form-control" asp-for="Description">
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label">Service ImageURL</label>
            <input type="text" class="form-control" asp-for="ImageUrl">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>