
@using MediPlusMVC.Models;
@model IEnumerable<Blog>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Blogs</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <a asp-controller="Blog" asp-action="Create">
                    <button class="btn btn-success mb-3">Create</button>
                </a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Publish Date</th>
                            <th>Description</th>
                            <th class="text-center">Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach(Blog item in Model)
                        {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.CreatedAt</td>
                            <td>@item.Description</td>
                            <td class="text-center">
                                <a asp-controller="Blog" asp-action="Info" asp-route-id="@item.Id">
                                    <button class="btn btn-primary">Info</button>
                                </a>
                            </td>
                        </tr>    
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->